In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../00_Data/train.tsv', sep='\t')

In [3]:
df.head()

,id,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,0,5.3,3.7,1.5,0.2,Iris-setosa
1,1,6.8,2.8,4.8,1.4,Iris-versicolor
2,3,6.1,3.0,4.9,1.8,Iris-virginica
3,4,6.4,3.2,5.3,2.3,Iris-virginica
4,5,6.3,3.3,4.7,1.6,Iris-versicolor

In [4]:
del df['id']

In [5]:
df.head()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.3,3.7,1.5,0.2,Iris-setosa
1,6.8,2.8,4.8,1.4,Iris-versicolor
2,6.1,3.0,4.9,1.8,Iris-virginica
3,6.4,3.2,5.3,2.3,Iris-virginica
4,6.3,3.3,4.7,1.6,Iris-versicolor

In [7]:
x = df.iloc[:, :-1]
x.head()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm
0,5.3,3.7,1.5,0.2
1,6.8,2.8,4.8,1.4
2,6.1,3.0,4.9,1.8
3,6.4,3.2,5.3,2.3
4,6.3,3.3,4.7,1.6

In [9]:
t = df.iloc[:, -1:]
t.head()

             class
0      Iris-setosa
1  Iris-versicolor
2   Iris-virginica
3   Iris-virginica
4  Iris-versicolor

## 予測する

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [11]:
model = RandomForestClassifier()

In [30]:
import warnings
warnings.filterwarnings('ignore')
model.fit(x, t)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [13]:
df_test = pd.read_csv('../00_Data/test.tsv', sep='\t')

In [14]:
df_test.head()

,id,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm
0,2,6.1,2.8,4.7,1.2
1,7,6.3,2.5,4.9,1.5
2,8,6.2,3.4,5.4,2.3
3,10,6.7,3.1,4.7,1.5
4,13,5.0,3.4,1.6,0.4

In [15]:
del df_test['id']

In [16]:
class_pred = model.predict(df_test)

In [17]:
type(class_pred)

numpy.ndarray

In [18]:
submitcsv = pd.read_csv('../00_Data/sample_submit.csv', header=None)

In [21]:
submitcsv = np.array(submitcsv.iloc[:, 0]).astype(int)

In [22]:
type(submitcsv)

numpy.ndarray

In [23]:
my_solution = pd.DataFrame({'index':submitcsv, 'class':class_pred})

In [24]:
my_solution.head()

             class  index
0  Iris-versicolor      2
1   Iris-virginica      7
2   Iris-virginica      8
3  Iris-versicolor     10
4      Iris-setosa     13

In [27]:
my_solution = my_solution.loc[:, ['index', 'class']]

In [28]:
my_solution.head()

   index            class
0      2  Iris-versicolor
1      7   Iris-virginica
2      8   Iris-virginica
3     10  Iris-versicolor
4     13      Iris-setosa

In [29]:
my_solution.to_csv('../80_submit/submit.csv', header=False, index=False)